.example-spacer {
    flex: 1 1 auto;
  }

  
  .example-container {
    width: 100%;
    height: auto;
    position:absolute ;
    bottom: 0%;
    top: 0%;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }

  .example-sidenav-content {
    display: flex;
  }
  
  .example-sidenav {
    padding: 20px;
  }
  .mat-button{
   text-align: left;   
  }