<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <mat-card>
        <img src="assets/person.png" width="100" />
        <h3>hasintha Ranaweera</h3>
        <p>hasinthaeanaweera08@gmail.com</p>
      </mat-card>
  
      <mat-selection-list #shoes [multiple]="false">
        <mat-list-option >
          <a (click)="drawer.toggle()" mat-icon-button routerLink="/past_appoinments"><mat-icon style="padding: 10px;">assignment</mat-icon>Past Appoinments</a>
        </mat-list-option>
        <mat-list-option >
          <a (click)="drawer.toggle()" mat-icon-button routerLink="/speciality_list"><mat-icon style="padding: 10px;">person</mat-icon>Speciality List</a>
        </mat-list-option>
        <mat-list-option >
          <a (click)="drawer.toggle()" mat-icon-button routerLink="/doctor_list"><mat-icon style="padding: 10px;">person</mat-icon>Doctor List</a>
        </mat-list-option>
        <mat-list-option >
          <a (click)="drawer.toggle()" mat-icon-button routerLink="/hospital_list"><mat-icon style="padding: 10px;">location_city</mat-icon>Hospital List</a>
        </mat-list-option>
        <mat-list-option >
          <a  (click)="drawer.toggle()" mat-icon-button href="/past_appointments"><mat-icon style="padding: 10px;">logout</mat-icon>Sign-out</a>
        </mat-list-option>
      </mat-selection-list>
    </mat-drawer>
    <div class="example-sidenav-content">

         <!--Toolbar here-->
         <mat-toolbar color="primary">
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <span>DOC-98 </span>
          <span class="example-spacer"></span>
          <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>logout</mat-icon>
          </button>
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>home</mat-icon>
          </button>
        </mat-toolbar>  

        
    </div>
  
<router-outlet>

</router-outlet>
</mat-drawer-container>